@keyframes highlight-animation {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

@keyframes move-status-bar {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0%);
    }
  }