// * Margins

// top
.u-mt-sm {
  margin-top: 3rem;
}

.u-mt-m {
  margin-top: 4rem;
}

// right
.u-mr-s {
  margin-right: 2rem;
}

.u-mr-xl {
  margin-right: 8rem;
}

// bottom
.u-mb-xs {
  margin-bottom: 1rem;
}

.u-mb-s {
  margin-bottom: 2rem;
}

.u-mb-sm {
  margin-bottom: 3rem;
}
.u-mb-m {
  margin-bottom: 4rem;
}

// left

