// * Colors
$color-primary: #f5f5fa;

$color-secondary: #7a7a7a;
$color-secondary-light: #929292;
$color-secondary-dark: #171717;

$color-tertiary: #08b998;
$color-tertiary-dark-1: #739f97;

$color-invalid: #f15037;

// * Shadows
$tshadow-s: 0 .1rem .1rem rgba(0,0,0);

// Img
$bshadow-s: 0 .2rem 1rem rgba(0,0,0, .4);
$bshadow-s--hover: 0 .2rem 1.5rem rgba(0,0,0, .5);
