.section__about {
  display: grid;
  grid-template-rows: repeat(2, min-content) 5fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  @include section;

  border-bottom: 1px solid rgba(0,0,0,.1);
}

.section__service {
  height: 75rem;

  @include section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid rgba(0,0,0,.1);
}

.section__booking {
  height: 60rem;

  @include section;

  background-image: linear-gradient(to right, rgba(0,0,0, .5) 100%, transparent),url(../img/hero.webp);  
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid rgba(0,0,0,.1);

  @include respond(tab-port) {
    height: 100rem;
  }
}


