// | Form parent element
.book {
  position: absolute;
  height: 100%;
  width: 100%;

  border-bottom: 3px solid $color-tertiary;
  border-radius: 5px;

  position: relative;
  display: flex;
  flex-wrap: wrap;

  background-color: $color-primary;
  background-size: cover;
  background-position: center;

  overflow: scroll;

  &__heading {
    text-align: center;

    color: $color-secondary-dark;
    font-weight: 300;
    letter-spacing: 2px;

    font-size: 2.5rem;
    margin-bottom: 3rem;

  }

  // | Form element
  &__form {
    flex: 0 1 40%;
    align-self: center;

    text-align: center;
    padding: 5rem;

    @media only screen and (max-width: 35em) { // 560px
      flex: 0 1 60%;
    }
    
    @media only screen and (max-width: 31.25em) { // 500px
      width: 90%;
      padding: 0;
    }
  }


  // | Form image
  &__img {
    flex-grow: 1;

    background-image: url(../img/servicesBg.jpg);
    background-size: cover;
    background-position-x: 50%;
    filter: brightness(0.8);

    @media only screen and (max-width: 31.25em) { // 500px
      display: none;
    }
  }

  @media only screen and (max-width: 31.25em) { // 500px
    justify-content: center;
  }
}

// | Each input parent
.form__group {
  position: relative;
  margin-bottom: 3rem;
 
}

// | Input itself
.book__form-input {
  font-family: inherit;
  font-size: 1.4rem;

  width: 100%;

  border-radius: 5px;
  border: none;
  border-bottom: 2px solid transparent;
  box-shadow: 0 0.2rem 1rem #00000021;

  background-color: rgba(256, 256, 256, 0.7);

  padding: 2rem 2rem 1.8rem;

  transition: border-bottom 0.4s ease;

  &:focus {
    outline: none;
    border-bottom: 2px solid $color-tertiary;

    &:invalid {
      border-bottom: 2px solid $color-invalid;
    }

    &:invalid + label {
      color: $color-invalid;
    }
  }

  &:placeholder-shown + label {
    transform: translateY(90%);
    left: 2rem;
    opacity: 0;
    visibility: hidden;
  }

  &::-webkit-input-placeholder {
    color: #4b4b4b;
  }
}

// | Input's labels
.book__form-label {
  position: absolute;
  left: 1rem;

  transform: translateY(-100%);

  color: $color-tertiary;

  font-size: 1.4rem;

  transition: opacity, transform, color, 0.5s ease;
}

// | Id to increase selector specificity and avoid messing with other btn classes
#book__btn {
  box-shadow: none;
  color: $color-secondary-dark;
  margin-top: 1rem;
  font-size: inherit;

  transition: transform, color, 0.4s ease;

  &:hover,
  &:active,
  &:focus {
    transform: translateY(-2px);
    color: $color-tertiary;
  }


  @media only screen and (max-width: 35em) { // 560px
    // width: 100%;
    // text-transform: none;
    // padding: 1.2rem;
  }
}
