// | ===== COMMON PARENT =====
.carousel {
  height: 75%;
  width: 75%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  
  box-shadow: $bshadow-s;

  @include respond(tab-port) {
    width: 100%;
  }
  
}

// | ===== EACH SLIDE =====
.slide-box {
  height: 100%;
  width: 100%;

  position: absolute;
  transition: transform 0.5s 0.1s ease;

  & > * { // ? all direct childern
    position: absolute;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 25%;

    filter: brightness(0.5);
  }

  &__content {
    bottom: 0;
    padding: 4rem;

    &-text {
      font-size: 1.9rem;
      color: $color-primary;
      width: 75%;
      bottom: 0;

      text-shadow: $tshadow-s;

      @media only screen and (max-width: 65.625em) { // 1050px
        width: 100%;
      }

      @media only screen and (max-width: 30em) { // 720px
        max-height: 9rem;
        overflow: scroll;
      }
    }
  }
}

// | ===== STATUS BAR =====
.slide-status-bar {
  bottom: 0;
  position: absolute;
  height: 0.5rem;
  width: 100%;
  background-color: $color-tertiary;

  transform: translateX(-100%);
}

// | ===== ARROW ICONS =====

.carousel__icon-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;

  opacity: .5;

  transition: transform, opacity, .1s ease-in;

  &:hover {
    opacity: 1;
  }

  &--left {
    left: 1.5rem;

    &:hover {
      transform: translateX(-2px) translateY(-50%);
    }

    &:active {
      transform: translateX(-3px) translateY(-50%);
    }
  }

  &--right {
    right: 1.5rem;

    &:hover {
      transform: translateX(2px) translateY(-50%);
    }

    &:active {
      transform: translateX(3px) translateY(-50%);
    }
  }
}

.slide__arrow-icon {
  display: inline-block;
  position: relative;
  
  height: 6rem; width: 6rem;
  color: $color-tertiary;
  fill: $color-tertiary;
}

