.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 100;

  padding: 3rem;
  border-top: 3px solid $color-primary;

  & > * {
    flex: 0 0 33%;
  }

  &-box {
    align-self: flex-start;

    &__list {
      list-style: none;
    }

    &__item {
      text-decoration: none;

      &:not(:last-child) {
        margin-bottom: 0.3rem;
      }
    }

    &__link,
    &__link:link,
    &__link:visited {
      display: inline-block;

      font-size: 1.4rem;
      font-weight: 100;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.3rem;

      color: $color-primary;
      border-bottom: 0.5px solid transparent;

      text-shadow: $tshadow-s;
      transition: transform, border-bottom, color, 0.3s ease;
    }

    &__link:hover,
    &__link:focus {
      outline: none;
      transform: translateX(2rem);
      color: $color-tertiary;
      border-bottom: 0.5px solid currentColor;
    }
  }

  &__logo-box {
    text-align: center;

    p {
      color: $color-primary;
      font-size: 1rem;
      letter-spacing: 0.2rem;
      font-weight: 300;
      text-shadow: $tshadow-s;
    }

    p:first-of-type {
      margin-bottom: -0.3rem;
    }

    p:last-of-type {
      margin-top: -0.6rem;
    }
  }

  &__contact-box p {
    color: $color-primary;
    text-align: end;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3rem;
    text-shadow: $tshadow-s;

    @include respond(tab-port) {
      visibility: hidden;
    }
  }

  // ! STICKY & MOBILE NAV
  &--sticky {
    display: block;
    position: fixed;
    width: calc(100% - 6rem);
    top: 0;
    left: 3rem;

    padding: 1rem 5rem;
    background-color: rgba($color-primary, 0.9);
    border: none;
    border-bottom: 1px solid $color-secondary-light;
    z-index: 9999;

    transition: transform 0.3s ease;

    & .nav {
      &__logo-box {
        display: none;
      }

      &__contact-box {
        display: none;
      }

      &-box {
        &__list {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;

          gap: 3rem;

          & p { // ? "logo"
            
            margin-right: 2rem;

            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 0.6rem;

            @include respond(phone) {
              margin-top: 2rem;
              margin-right: 0;
            }
          }

          &:last-child {
            margin-right: 3rem;

            @include respond(phone) {
              margin-right: 0;
            }
          }
          
        }

        &__item:not(:last-child) {
          margin-bottom: 0;
        }

        &__link {
          color: $color-secondary-dark;
          font-weight: 400;
          text-shadow: none;

          &:hover,
          &:focus {
            color: $color-tertiary;
            transform: translateX(5px);
          }
        }
      }
    }

    @include respond(phone) {
      width: 25%;
      height: 100%;
      left: 0;
    }
  }

}

.nav--hidden {
  transform: translateY(-100%);

  @include respond(phone) {
   transform: translateX(-100%);
  }
}
