.services {
  position: absolute;
  height: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.25) 100%, transparent),
    url(../img/servicesBg.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 4rem 7rem 7rem;
  text-align: center;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-bottom: 3px solid $color-tertiary;
  border-radius: 5px;

  &__heading {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    color: $color-primary;
    font-weight: 100;
    letter-spacing: 3;
    text-shadow: $tshadow-s;
  }
  overflow-y: auto;
  overflow-x: hidden;

}

.service-box {
  flex: 0 0 30%;
  min-width: 20rem;
  min-height: 20rem;
  overflow: hidden;
  // box-shadow: $bshadow-s; // ? Causes flickering on hover
  border-radius: 3px;
  position: relative;
  margin: 1.5rem;

  &__img {
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.8);

    transition: transform, filter, 0.5s ease;
    will-change: filter;
  }

  &__text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: 2rem;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    cursor: default;
  }

  & h4 {
    font-size: 1.5rem;
    text-shadow: none;
  }

  & p {
    font-size: 1.3rem;
    width: 100%;
    color: $color-primary;
    max-height: 6.5rem;
    overflow: auto;
  }

  &:hover &__img {
    transform: scale(1.05);
    filter: brightness(0.5) blur(3px);
  }

  &:hover &__text-box {
    opacity: 1;
  }

  @include respond(tab-port) {
    flex: 0 0 40%;
  }
  @include respond(phone) {
    flex: 0 0 80%;
  }
}
