// * ==== ABOUT SECTION ====
.about {
  &__heading {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  &__text-box {
    text-align: justify;

    &--1 {
      grid-row: 2;
      grid-column: 1;
    }

    &--2 {
      grid-row: 3;
      grid-column: 1;

      ul {
        list-style: none;
      }
    }

    p {
      color: $color-secondary-light;
    }
  }

  &__img-box {
    grid-row: 2 / -1;
    grid-column: 2;

    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, min-content);
    column-gap: 1rem;
    justify-content: center;
    align-items: center;

    &:has(> img:hover) img:not(:hover) {
      filter: brightness(0.8) blur(1px);
      transform: scale(0.95);
    }
  }

  &__img {
    cursor: pointer;
    max-height: 30rem;
    // width: 50%;

    border-radius: 5px;
    box-shadow: $bshadow-s;

    filter: brightness(0.8);
    transition: transform, filter, box-shadow, 0.3s ease;

    &:hover {
      transform: translateY(-3px);
      box-shadow: $bshadow-s--hover;
      transform: scale(1.05);
      z-index: 2;
    }

    &--1 {
      z-index: 1;
      grid-column: 1 / -1;
      justify-self: center;
    }

    &--2 {
      grid-row: 2;
      margin-top: -25rem;
    }

    &--3 {
      grid-row: 2;
      margin-top: -15rem;
    }
  }
}
